<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Attendance Portal</title>
    <%- include('partials/header')%>
</head>

<body>

    <% if (isLogin==="Institute" ) { %>
        <%- include('partials/InstituteNav') %>
            <% } else { %>
                <%- include('partials/Navbar') %>
                    <% } %>


                        <section class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-24 lg:px-8">
                            <!-- <div
                class="absolute inset-0 -z-10 bg-[radial-gradient(45rem_50rem_at_top,theme(colors.indigo.100),white)] opacity-20">
            </div>
            <div
                class="absolute inset-y-0 right-1/2 -z-10 mr-16 w-[200%] origin-bottom-left skew-x-[-30deg] bg-white shadow-xl shadow-indigo-600/10 ring-1 ring-indigo-50 sm:mr-28 lg:mr-0 xl:mr-16 xl:origin-center">
            </div> -->
                            <div class="mx-auto max-w-2xl lg:max-w-4xl">
                                <div class="text-center">
                                    <img class="mx-auto w-8"
                                        src="https://cdn-icons-png.freepik.com/512/3589/3589030.png" alt="">
                                    <p class="text-2xl">About Attendance portal</p>
                                </div>
                                <figure class="mt-10">
                                    <blockquote
                                        class="text-center text-xl font-semibold leading-8 text-gray-900 sm:text-2xl sm:leading-9">
                                        <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit dolores in
                                            omnis eos
                                            inventore, error numquam aliquam soluta obcaecati labore perspiciatis iure
                                            officia
                                            reprehenderit eveniet? Est incidunt eveniet reiciendis quaerat?”</p>
                                    </blockquote>
                                </figure>
                            </div>
                        </section>

                  
                        <footer class="bg-body-tertiary text-center text-lg-start mt-8 footer ">
                            <!-- Copyright -->
                            <div class="text-center p-3 bg-indigo-500">
                                © 2024 Copyright:
                                <a class="text-body" href="/">Attendance Portal</a>
                            </div>
                            <!-- Copyright -->
                        </footer>


</body>
<%- include('partials/scriptlink2')%>

</html>