<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Portal</title>
   {{>Headerlinks}}
</head>

<body>
    {{>Navbar}}
    <!-- NavBar -->
   
   
       <div class="row mx-3">
        <div class="col-md-10 mx-auto">
            <div class="pb-3 mt-14">
                <div class="text-center mt-4">
                    <h1 class="fs-1">Hello, there!</h1>
                    <p class="fs-5">Let's take a tour of our attendance portal</p>
                </div>
            </div>
            <div class="row gx-0 mt-14">
                <div class="col-md-6">
                    <div class="mb-4">
                        <h2 class="fs-3">For Students</h2>
                        <p class="fs-6">Taking attendance made easier. Register and upload your photo to have a
                            hassle-free
                            experience in recording your attendance.</p>
                    </div>
                    <div class="">
                        <h2 class="fs-3">For Teachers</h2>
                        <p class="fs-6">Detailed analytics for you. Make classrooms, add students and take their
                            attendance
                            for
                            detailed reports</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img class="img-fluid" src="img/banner-2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>


    <footer class="bg-body-tertiary text-center text-lg-start mt-8 footer ">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2020 Copyright:
            <a class="text-body" href="/">Attendance Portal</a>
        </div>
        <!-- Copyright -->
    </footer>


</body>
</html>