<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeacherRegistration</title>
    {{>Headerlinks}}
</head>

<body>

    {{> Navbar}}


    <!-- NavBar -->

    <div class="container mt-12">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="">
                    <div class="">
                        <h3 class="text-center mb-4">Login</h3>
                        <form>
                            <div class="form-group my-3">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp">
                            </div>
                            <div class="form-group my-3">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-block w-75 ">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer class="bg-body-tertiary text-center text-lg-start mt-12 ">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2020 Copyright:
            <a class="text-body" href="/">Attendance Portal</a>
        </div>
        <!-- Copyright -->
    </footer>



</body>

</html>