<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeacherRegistration</title>
    {{>Headerlinks}}
</head>

<body>

    {{>Navbar}}
    <!-- NavBar -->


    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="">
                    <div class="">
                        <h3 class="text-center mb-4">Create an account</h3>
                        <form action="/studentregistration" method="post">
                            <div class="form-group my-3">
                                <label for="name">Full Name</label>
                                <input type="text" class="form-control" id="fullname" aria-describedby="emailHelp"
                                    name="fullname">
                            </div>
                            <div class="form-group my-3">
                                <label for="name">Year</label>
                                <select class="form-select" aria-label="Default select example" name="year">
                                    <option selected>Select Year</option>
                                    <option value="FE">FE</option>
                                    <option value="SE">SE</option>
                                    <option value="TE">TE</option>
                                    <option value="BE">BE</option>
                                </select>
                            </div>
                            <div class="form-group my-3">
                                <label for="name">Roll No</label>
                                <input type="number" class="form-control" id="rollNo" aria-describedby="emailHelp"
                                    name="rollNo">
                            </div>
                            <div class="form-group my-3">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" name="email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                    anyone else.</small>
                            </div>
                            <div class="form-group my-3">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-block w-75 ">Create Account</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-body-tertiary text-center text-lg-start mt-8 footer ">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2020 Copyright:
            <a class="text-body" href="/">Attendance Portal</a>
        </div>
        <!-- Copyright -->
    </footer>




</body>

</html>